#preview{
  padding: 0 10px 0 10px;
  word-wrap: break-word;
  overflow-y: scroll;
  margin: 5px;
  width: 100%;
  border-radius: 15px;
  height: 80%;
  box-shadow: var(--boxshadow);
}

#preview code{
  background-color: var(--colorCode);
  color: var(--colorLight);
  padding: 3px;
  border-radius: 10px;
}

#preview table, th, td{
  border: 2px solid var(--colorLight);
  border-collapse: collapse;
}